nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--dark-color);
}

.navigationLine {
    display: flex;
}

.userName {
    width: 100px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
}