.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.errorWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: var(--white-color);
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0;
    box-shadow: 0 30px 60px 0 var(--dark-color);
    text-align: center;
}

.formHeader {
    background: var(--main-color);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}
