.errorLine {
    border-radius: 5px;
    background: var(--error-color);
    width: calc(100% - 30px);
    max-width: 420px;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    max-height: 0;
}

.isActive {
    opacity: 1;
    max-height: 100%;
    padding: 5px;
    margin: 10px;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; max-height: 0; padding: 0; margin: 0 }
    to   { opacity: 1; max-height: 100%;  padding: 5px; margin: 10px;}
}
