.button {
    width: 100px;
    background: var(--main-color);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: var(--main-color-darker);
}

.danger {
    background-color: var(--error-color);;
}

.danger:hover {
    background-color: var(--error-color-darker);;
}

.button:disabled {
     background: var(--gray-color);
 }