.errorWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.newSensorHeader {
    width: calc(100% - 20px);
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--dark-color);
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: 600;
}

.newSensorWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    margin: 20px;
    border: 1px solid var(--dark-color);
}

.newSensorFormWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: calc(100% - 20px);
}

.fieldLabel {
    text-align: center;
}

.switchWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.flexGrow1 {
    flex-grow: 1;
}

.flexGrow2 {
    flex-grow: 2;
}

.flexGrow4 {
    flex-grow: 4;
}