.table {
    width: calc(100% - 40px);
    max-width: 100%;
    background-color: var(--white-color);
    border-collapse: collapse;
    margin: 20px;
}

.table > tr {
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--dark-color);
}

.table > thead {
    color: var(--white-color);
    background-color: var(--main-color);
}

.table > thead > tr {
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid var(--dark-color);
}

.table > thead > tr > th,
.table > tbody > tr > td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    transition: all 0.3s ease;
    border: 1px solid var(--dark-color);
}

.table > tbody > tr:hover > td,
.table > tbody > tr:hover > th {
    background-color: var(--gray-color);
}
