:root {
  --main-color: #27AE60;
  --main-color-darker: #219653;
  --gray-color: #ccc;
  --white-color: #fff;
  --dark-color: #000;
  --error-color: #e56e6e;
  --error-color-darker: #a25252;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
